<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table{
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width:100%
        }
        td, th{
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px
        }
        tr:nth-child(even){
            background-color: #dddddd
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>
<body>
        <h1>Library Management System</h1>
        <h2>All Books</h2>
</body>
</html>